<!-- app/views/users/index.html.erb -->
<h1>Users</h1>
<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Download Orders</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Export CSV', download_orders_user_path(user.id), class: 'btn btn-primary'%></td>
        <td><% if user.csv_download_path.present? %>
			    <%= link_to 'Download CSV', download_csv_user_path(user.id), class: 'btn btn-primary'%>
			  <% else %>
			    <p>CSV is being generated...</p>
			 <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
